/* footer link  */
.footer-link{
    text-decoration: none;
    color:gray;
    font-family: 'Share Tech Mono', monospace;
}
.footer-link:hover{
    text-decoration: none;
    color:darkgrey;
}
/* footer contact */
.contact{
    color: gray;
    font-family: 'Share Tech Mono', monospace;
}