<div class="container">
    <!-- Artist Category Text Here -->
    <div class="row align-center offset-2">
      <p class="post-head-title">CATEGORIES</p>
     </div>
     <!-- Artist Profile For User Search -->
     <div class="card offset-2" style="max-width: 240px";>
       <img src="./assets/Artist -Images-Actor/Actor01.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h6 class="card-title" style="color: red;">jhonny Depp</h6>
         <p class="card-text"><small class="text-muted">Actor</small></p>
         <p class="card-text">Fees : 20000/-</p>
         <button type="button" class="btn bg-dark">Book Now</button>         
       </div>
       <div class="card-footer">
         <small class="text-muted"><span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star"></span>
           <span class="fa fa-star"></span>
           <span>Verified</span>
           </small>
       </div>
     </div>
     
</div>

